/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.movie {
    background-image: url("../cinema-theater-background-vector-7362887.jpg");
    background-repeat:no-repeat;
    height: 900px;
}

.joel {
    text-align: center;
    filter: grayscale(100%);
}

.joelTwo {
    position: relative; /* Declared position allows for location changes */
    top: -10px; /* Moves the image 2px closer to the top of the page */
    left: -50px;
    height: 300px;
    width: 450px;
    border-radius: 70px;
}

.pod {
    text-align: center;
    position: relative; /* Declared position allows for location changes */
    top: 200px; /* Moves the image 2px closer to the top of the page */
    left: -50px;
}

.title {
    color:black;
}

.form {
    text-align: center;
    position: relative; /* Declared position allows for location changes */
    top: 150px; /* Moves the image 2px closer to the top of the page */
    left: -50px;
}

.data {
    text-align: center;
    position: relative; /* Declared position allows for location changes */
    top: 150px; /* Moves the image 2px closer to the top of the page */
    right: -50px;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

th {
    background-color: #4287f5;
    color: white;
}

th,
td {
    width: 105px;
    text-align: center;
    border: 1px solid black;
    padding: 1px;
}